In [1]:
# while loop
n=10
while n>0:
    print(n)
    n=n-1
print("blast")
print(n)

10
9
8
7
6
5
4
3
2
1
blast
0

In [ ]:
#infinte loop
n=5
while n>0:
    print("hello")
    print("inza")
print("hope")

In [3]:
while True:
    line= input(">")
    if line == "done":
        break
    print(line)
print("Done")

>hello
hello
>done
Done

In [8]:
while True:
    line=input("enter a number")
    a=int(line)
    if a>100:
        break#  break statement end the loop and move the next statement
    print(a)
print("All is well")

enter a number57
57
enter a number98
98
enter a number67
67
enter a number1001
All is well

In [10]:
#Continue
while True:
    a=input('>')
    if a[0]=='#':
        continue
    if a=='done':
        break
    print(a)
print("done")

>inza
inza
>#inza
># inza
>done
done

In [14]:
while True:
    line = input('> ')
    if line[0] == '#' :
        continue
    if line == 'done' :
        break
    print(line)
print('Done!')

> inza
inza
> #inza
> #inz
> done
Done!

In [ ]:
a=input("enter number")
n=int(a)

while n>60:
    print("n")
    if n==90:
        continue
    if n==30:
        break
    print(n)
print("done")

In [19]:
#For loop/ definite loop
for i in [1,2,3,4,5]:
    print(i)
print("inza")

1
2
3
4
5
inza

In [20]:
for i in ['apple','mango','banana']:
    print(i)

apple
mango
banana

In [21]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
BTS =['kimNamjoon','kimseokjin','junghoseok','parkjimin','kimtaehyunge','jeonjungkook']
for i in BTS:
    print("Happy 10 anniversary",i)

Happy 10 anniversary kimNamjoon
Happy 10 anniversary kimseokjin
Happy 10 anniversary junghoseok
Happy 10 anniversary parkjimin
Happy 10 anniversary kimtaehyunge
Happy 10 anniversary jeonjungkook

In [27]:
print("before")
for i in [1,2,3,4,67,59,50,19]:
    print(i)
print("after")

before
1
2
3
4
67
59
50
19
after

In [28]:
#find lasgest number
Largest_number=-1
for i in [50,80,67,1,2,3,4,70]:
    if i>Largest_number:
        Largest_number=i
    print("Largest number so far =",i)
print("before",Largest_number)

Largest number so far = 50
Largest number so far = 80
Largest number so far = 67
Largest number so far = 1
Largest number so far = 2
Largest number so far = 3
Largest number so far = 4
Largest number so far = 70
before 80

In [30]:
#find lasgest number
Largest_number=-1
for i in [50,80,67,1,2,3,4,70]:
    if i>Largest_number:
        Largest_number=i
print("largest number",Largest_number)

largest number 80

#

In [31]:
a=0
print("before ",a)
for i in [10,20,30,40,50]:
    a=a+1
    print(a,i)
print("after ",a)

before  0
1 10
2 20
3 30
4 40
5 50
after  5

In [32]:
a=0
print("before",a)
for i in ["korea","UK","USA"]:
    a=a+1
    print(a,i)
print("after",a)

before 0
1 korea
2 UK
3 USA
after 3

In [33]:
a=0
print("before",a)
for i in [1,2,3,4,5]:
    a=a+i
    print(a,i)
print("after",a)

before 0
1 1
3 2
6 3
10 4
15 5
after 15

In [34]:
sum=0
count=0
for i in [1,2,3]:
    count=count+1
    sum=sum+i
    print(count,sum,i)
print("after",count,sum, sum/count)

1 1 1
2 3 2
3 6 3
after 3 6 2.0

In [37]:
#Filtering
print("before")
for i in [9,41,60,74]:
    if i>20:
        print("larger number",i)
print("after")

before
larger number 41
larger number 60
larger number 74
after

In [41]:
found = False
print('Before', found)
for value in [10, 20, 20, 3, 40, 50] : 
    if value == 3 :# after 3 and including 3 all values are ture
        found = True
    print(found, value)
print('After', found)

Before False
True 3
After True

In [43]:
smallest_so_far = -1
print('Before', smallest_so_far)
for i in [9, 41, 12, 3, 74, 15] :
    if i < smallest_so_far :
        smallest_so_far = i
    print(smallest_so_far, i)
print('After', smallest_so_far)

Before -1
-1 9
-1 41
-1 12
-1 3
-1 74
-1 15
After -1

In [44]:
smallest = None
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if smallest is None : 
        smallest = value
    elif value < smallest : 
        smallest = value
    print(smallest, value)
print('After', smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3